  @font-face {
    font-family: 'ChickenCripsy';
    src: url("../public/fonts/ChickenCripsy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: 'DMSans';
    src: url("../public/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }