@import "bootstrap.scss";
@import "fonts.scss";
@import "buttons.scss";
@import "card.scss";
@import "hexagons.scss";
@import "rive.scss";

html {
    height: 100vh;
    width: 100vw;
    background-color: rgb(36, 36, 36);
    // /* Created with https://www.css-gradient.com */
    // background: #90FDF7;
    // background: -webkit-linear-gradient(top left, #90FDF7, #300746);
    // background: -moz-linear-gradient(top left, #90FDF7, #300746);
    // background: linear-gradient(to bottom right, #90FDF7, #300746);
}

// HERO

.home {
    background-color: rgb(36, 36, 36);
    padding: 0px;
    margin: 0px;
}

.hero {  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: antiquewhite;
    font-family: 'DMSans';
    font-size: 30px;
    
    header {
        background-color: rgb(36, 36, 36);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'ChickenCripsy' ;

        h1 {
            color:#C1354C;
        }

        p {
            font-size: 20px;
        }

    }
}